<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Rating</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-4 border rounded p-3 shadow-lg">
                <div class="d-flex flex-column align-items-center mb-4">
                    <h1 class="text-center mt-5 mb-4">Add New Rating</h1>
                    <a class="btn btn-outline-secondary shadow w-auto" th:href="@{/ratings}">Home</a>
                </div>

                <form th:action="@{/ratings/add}" th:object="${staffRating}" method="post" class="p-3">
                    <div class="mb-3">

                        <label for="name" class="form-label">Name: </label>
                        <input type="text" id="name" th:field="*{name}" class="form-control form-control-lg" placeholder="First and Last name">
                        <div class="text-danger small" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                    </div>

                    <div class="mb-3">

                        <label for="email" class="form-label">Email: </label>
                        <input type="email" id="email" th:field="*{email}" class="form-control form-control-lg" placeholder="name@sfu.ca">
                        <div class="text-danger small" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                    </div>

                    <div class="mb-3">
                        <label for="roletype" class="form-label">Role: </label>    
                        <select type="roleType" id="roleType" th:field="*{roleType}" class="form-select form-select-lg">
                            <option value="" disabled>Select Role</option>
                            <option th:each="role:${roleTypes}" th:value="${role}" th:text="${role.label}"></option>
                        </select>
                    </div>

                    <div class="mb-3">

                        <label for="clarity" class="form-label">Clarity: </label>
                        <output id="clarity-out">1</output>
                        <input type="range" min="1" max="10" step="1" value="1" oninput="document.getElementById('clarity-out').innerText = this.value" id="clarity" th:field="*{clarity}" class="form-range">
                        <div class="d-flex justify-content-between small text-muted">
                            <span>1</span><span>10</span>
                        </div>
                        <div class="text-danger small" th:if="${#fields.hasErrors('clarity')}" th:errors="*{clarity}"></div>
                    </div>
                                      
                    <div class="mb-3">

                        <label for="niceness" class="form-label">Niceness: </label>
                        <output id="niceness-out">1</output>
                        <input type="range" min="1" max="10" step="1" value="1" oninput="document.getElementById('niceness-out').innerText = this.value" id="niceness" th:field="*{niceness}" class="form-range">
                        <div class="d-flex justify-content-between small text-muted">
                            <span>1</span><span>10</span>
                        </div>
                        <div class="text-danger small" th:if="${#fields.hasErrors('niceness')}" th:errors="*{niceness}"></div>
                    </div>
                                        
                    <div class="mb-3">

                        <label for="knowledgeableScore" class="form-label">Knowledgeable Score: </label>
                        <output id="knowledgeableScore-out">1</output>
                        <input type="range" min="1" max="10" step="1" value="1" oninput="document.getElementById('knowledgeableScore-out').innerText = this.value" id="knowledgeableScore" th:field="*{knowledgeableScore}" class="form-range">
                        <div class="d-flex justify-content-between small text-muted">
                            <span>1</span><span>10</span>
                        </div>
                        <div class="text-danger small" th:if="${#fields.hasErrors('knowledgeableScore')}" th:errors="*{knowledgeableScore}"></div>
                    </div>
                    
                    <div class="mb-3">

                        <label for="comment" class="form-label">Comment: </label>
                        <textarea type="comment" id="comment" th:field="*{comment}" class="form-control form-control-lg" placeholder="Enter a comment..."></textarea>
                    </div> 

                    <!-- Submit button -->
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="submit">Submit Rating</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</body>
</html>